body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    
}

header .logo {
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
}

header .menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
header .menu-line{
    height: 3px;
    background-color: #333;
}
.container {
    display: flex;
    height: 100vh;
    
}
.container .leftside {
    flex: 1;
    background-color: #3B576D;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.container .rightside {
    flex: 1;
    background-image: url(../images/hero.jpg);
    background-size: 100% auto;
    background-position: center top ;
    background-size: cover;
    
    
}
.container .info {
    color: #FFF;
}
.container .info .profissao {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 19px;
}
.container .info .name {
    font-weight: bold;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container .info .buttons a{
    display: inline-block;
    background-color: #fff;
    color: #3B576D;
    padding: 20px 40px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 10px #111;
    border-radius: 5px; 
    margin-right: 10px;
}
.container .info .buttons a.light {
    color: #fff;
    background-color: #3B576D;
}
.container .info .buttons a:hover{
    opacity: 0.8;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #FFF;
    font-size: 11px;
}
footer a {
    color: #FFF;
}
footer a:hover{
    text-decoration: none;
}

@media(max-width: 850px) {
    
    header {
        position: initial;
        background-color: #3B576D;
    }
    header .menu-line {
        background-color: #FFF;
    }
    .container {
        flex-direction: column;   
    }
    .container .leftside {
        flex: none;
        padding: 30px 20px;
        justify-content: center;
        text-align: center;
        
    }
    footer {
        position: initial;
        color: #333;
        font-size: 10px;
    }
    footer a {
        color: #333;
    }
}
@media(max-width: 450px){
    .container .leftside .info .name {
        font-size: 50px;
    }
    .container .leftside .buttons a {
        display: block;
        margin-right: 0px;
        margin-top: 20px;
    }
}